<%- include('templates/header')-%>
<div class="container div-content">
  <div class="row">
    <div class="col-md-8">
      <div class="row div-single-articles">
        <div class="col-md-4">
          <img src="img/recent/post1.jpg" class="img-responsive" />
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-8">
              <h3 class="title-article"><a href="#">Rumah Idaman</a></h3>
              <p class="comment-article2">
                <span class="glyphicon glyphicon-comment"></span> 100
                <span class="glyphicon glyphicon-folder-open"></span>
                <a href="#">design</a>, <a href="#">inspiration</a>
                <span class="glyphicon glyphicon-tag"></span>
                <a href="#">house design</a>, <a href="#">art</a>
                <span class="glyphicon glyphicon-user"> </span>by
                <a href="#">Sofyan</a>
              </p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
              <div class="date-article2">25 Okt</div>
            </div>
          </div>

          <div class="row content-article2">
            <div class="col-md-12">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <a href="#" class="read-more">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <hr class="article-line" />

      <div class="row div-single-articles">
        <div class="col-md-4">
          <img src="img/no/no-thumbnail.jpg" class="img-responsive" />
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-8">
              <h3 class="title-article"><a href="#">Rumah Idaman</a></h3>
              <p class="comment-article2">
                <span class="glyphicon glyphicon-comment"></span> 100
                <span class="glyphicon glyphicon-folder-open"></span>
                <a href="#">design</a>, <a href="#">inspiration</a>
                <span class="glyphicon glyphicon-tag"></span>
                <a href="#">house design</a>, <a href="#">art</a>
                <span class="glyphicon glyphicon-user"> </span>by
                <a href="#">Sofyan</a>
              </p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
              <div class="date-article2">25 Okt</div>
            </div>
          </div>

          <div class="row content-article2">
            <div class="col-md-12">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <a href="#" class="read-more">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('templates/footer')-%>
